doctype html
html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Rapiddo Prime

        // CSS Files
        link(rel='stylesheet', href='sources/styles/main.css')

    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-W48HPHC', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)

        // Header
        header
            h1 Rapiddo Prime

        // Main
        #main
            .wrapper
                h2 Você gostaria de ter...

                #products
                    // Tickets
                    h3 Ingressos antecipados
                    .cards.tickets
                        .logo
                        p antes mesmo de estar no site, compre os ingressos de seus artistas favoritos.

                    // Food
                    h3 Não pagar pelo frete
                    .cards.food
                        .logo
                        p de todos os pratos que você pode pedir, economizando R$3-15.

                    // Music
                    h3 Streaming prime grátis
                    .cards.music
                        .logo
                        p Não pague para ter streaming sem ads no superplayer.

                    // Kids
                    h3 Vídeos kids free
                    .cards.kids
                        .logo
                        p Tenha 5 horas de acesso ao maior conteúdo kids.

                    // Recharge
                    h3 Recarregue e ganhe 10%
                    .cards.recharge
                        .logo
                        p Faça recarga no celular e pague 10% a menos no Ingresso Rápido e no iFood.

        // Footer
        footer
            a(href='preferences.html').btn-cta Eu quero!

        // Google Tag Manager
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-W48HPHC');
        // End Google Tag Manager