// main: main.scss

// COLORS
$white: #FFFFFF;
$theblack: #141E23;
$gray-lighter: #ddd;
$gray-text: #707070;
$gray-nav: #a0a0a0;
$blue-pastel: #edf2f6;
$purple: #7d32a4;
$blue: #23527c;

// TYPOGRAPHY
$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: 16px;
$base-font-color: #343434;


// MIXINS
@mixin transition ($time) {
	-webkit-transition: all ease-in-out $time;
	-ms-transition: all ease-in-out $time;
	-o-transition: all ease-in-out $time;
	transition: all ease-in-out $time;
}

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin border-radius ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin vertical-center {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin text-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin box-shadow ($specs) {
	-webkit-box-shadow: $specs;
	-moz-box-shadow: $specs;
	box-shadow: $specs;
}
