// compileCompressed: ../css/$1.css

@import "_variables";
@import "_swiper";

* {
	@include border-box;
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
}

body {
	background-color: $blue-pastel;
	font-family: $base-font;
	font-size: $base-font-size;
	color: $base-font-color;
	text-align: center;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
}

a,
a:visited {
	text-decoration: none;
	cursor: pointer;
	@include transition (0.4s);

	&:hover,
	&:active {
	}
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	margin-bottom: 1em;
	font-size: 1.2em;
	font-weight: bold;
	color: $purple;
}

h2 {
	margin-bottom: 1em;
	font-size: 1.1em;
	font-weight: normal;
	color: $gray-text;

	span {
		border-bottom: 2px solid $purple;
		font-weight: bold;
	}
}

h3 {
	margin-bottom: 1em;
	font-size: 1em;
	font-weight: bold;
}

.btn-default {
	background-color: $white;
	border: 1px solid $blue;
	width: auto;
	margin: 16px auto;
	padding: 8px 12px;
	font-size: 1em;
	color: $blue;
	@include flex;
	@include border-radius (4px);
	@include box-shadow (0 2px 4px 0 rgba(112, 112, 112, 0.56));

	&:hover,
	&:active {
		border-color: $purple;
		color: $purple;
		text-decoration: underline;
		@include box-shadow (0 0 8px 0 rgba(112, 112, 112, 0.24));
	}
}


// CONTAINER
.container {
	background-color: $white;
	padding: 16px;
}

.brand {
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	@include flex;

	.playkids {
		width: 96px;
	}

	.oi {
		width: 52px;
	}
}


// SUPPORT
.support {
	padding: 24px;

	a {
		border-bottom: 2px solid $gray-lighter;
		color: $gray-text;

		&:hover,
		&:active {
			border-color: $theblack;
			color: $purple;
		}
	}
}


// DOWNLOAD
.download {
	flex-flow: column wrap;
	align-items: center;
	@include flex;

	h4 {
		width: 100%;
		margin-top: 8px;
	}

	.icon {
		width: 72px;
		height: 72px;

		img {
			@include border-radius (16px);
		}
	}

	.details {
		font-size: .92em;
		color: $gray-text;
	}
}

.swiper-ios {
	display: none;
}


// TABLET
@media (min-width: 768px) {
	.container {
		border: 1px solid $gray-lighter;
		max-width: 960px;
		margin: 20px;
		padding: 32px;
		text-align: center;
		@include border-radius (8px);
	}

	.brand {
		width: 72%;
		margin: auto;

		.playkids {
			width: 152px;
		}

		.oi {
			width: 64px;
		}
	}

	.screens {
		img {
			width: 32%;
		}
	}
}


// MEDIUM SCREENS
@media (min-width: 1024px) {
	.container {
		margin: 32px auto;
		@include border-radius (12px);
	}
}
