doctype html
html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Rapiddo Prime

        // CSS Files
        link(rel='stylesheet', href='sources/styles/main.css')

        // Facebook
        meta(property='og:url', content='http://lp.mvl.im/lp/design/rapiddo')
        meta(property='og:type', content='website')
        meta(property='og:title', content='Rapiddo Prime')
        meta(property='og:description', content='Baixe o app e seja Premium, simples assim.')
        meta(property='og:image', content='http://lp.mvl.im/lp/design/rapiddo/sources/images/share.png')

    body
        header
            .device
                img(src='sources/images/iphone.png', alt='Rapiddo Prime')
            h1 Rapiddo Prime
            h2 Baixe o app e seja Premium
            p Simples assim

        // Beneficios
        section.benefits
            h3 Quais os benefícios?
            p Com o Rapiddo, você tem condições especiais para diversos serviços.

        // Produtos
        section.products
            // Tickets
            .cards
                h3 Ingressos antecipados
                img(src='sources/images/cards-tickets.png', alt='Ingressos')
                .details
                    .brand
                        img(src='sources/images/brands-ingresso.png')
                    p Antes mesmo de estar no site, compre os ingressos de seus artistas favoritos.

            // Comida
            .cards
                h3 Não pagar pelo frete
                img(src='sources/images/cards-food.png', alt='Comida')
                .details
                    .brand
                        img(src='sources/images/brands-ifood.png')
                    p Não pague mais aqueles R$3-15 reais de frete.

            // Música
            .cards
                h3 Streaming Prime grátis
                img(src='sources/images/cards-music.png', alt='Música')
                .details
                    .brand
                        img(src='sources/images/brands-superplayer.png')
                    p Ouça música online a vontade e sem propaganda.

            // Kids
            .cards
                h3 Conteúdo infantil
                img(src='sources/images/cards-kids.png', alt='Kids')
                .details
                    .brand
                        img(src='sources/images/brands-playkids.png')
                    p Tenha 5 horas de acesso ao maior conteúdo Kids.

            // Recarga
            .cards
                h3 Recarregue e ganhe 10%
                img(src='sources/images/cards-recarga.png', alt='Recarga')
                .details
                    .brand
                        img(src='sources/images/brands-recarga.png')
                    p Faça recarga no celular e pague 10% a menos no Ingresso Rápido e no iFood.

        // Footer
        footer
            a(href='preferencias.html', onclick="ga('send', 'event', '[btn] Eu quero', 'click', '1o Funil');").cta-button Eu quero!

        script(type='text/javascript').
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-93185721-1', 'auto');
            ga('send', 'pageview');