doctype html
html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Rapiddo Prime
        
        // CSS Files
        link(rel='stylesheet', href='sources/styles/main.css')

        // Facebook
        meta(property='og:url', content='http://thiago-rocha-movile.github.io/rapiddo/')
        meta(property='og:type', content='website')
        meta(property='og:title', content='Rapiddo Prime')
        meta(property='og:description', content='Baixe o app e seja Premium, simples assim.')
        meta(property='og:image', content='http://thiago-rocha-movile.github.io/rapiddo/sources/images/share.png')

    body
        header
            .device
                img(src='sources/images/iphone.png', alt='Rapiddo Prime')
            h1 Rapiddo Prime
            h2 Quase lá!
            p Compartilhe para seus amigos e ganhe esses benefícios.

        // Share
        section.benefits
            iframe(src='https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fthiago-rocha-movile.github.io%2Frapiddo%2F&layout=button&size=large&mobile_iframe=true&appId=960172670761293&width=117&height=28', width='117', height='28', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')

        script(type='text/javascript').
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-93185721-1', 'auto');
            ga('send', 'pageview');