doctype html
html(lang='pt-br')
    head
        include ../includes/head.pug

    body.crud-form
        aside
            .logo
                a(href='../cursos/index.html')
                    img.blue(src='../resources/img/logo-vivo_educa.png', alt='Vivo Educa')


        // MOBILE ALERT
        .info
            | Por favor, acesse pelo seu desktop ou notebook.

        // UPPER BAR
        section.upper-bar
            h1 Editar aula 3:&nbsp;
                span Carangueijos e mariscos, qual a melhor forma de prepará-los e cozinhar para família

        // MAIN
        section.main-content.main-margin
            span.degustacao Aula degustação

            form(name='aula-nova', id='aula-nova-form', method='POST')
                h2 Qual o nome da aula?
                input(type='text', maxlength='120', id='aula-nome', class='input aula-nome characterCount use-title', placeholder='Ex.: Introdução à inteligência artificial', value='Carangueijos e mariscos, qual a melhor forma de prepará-los e cozinhar para família')
                span.counter.aula-nome

                h2 Vídeo dessa aula
                .upload--container
                    // VIDEO (depois do upload)
                    .video--container.itens-locked
                        .feedback-msg
                            h3 Não é possível remover ou substituir esse vídeo,
                            p porque esse curso esta publicado. Caso for preciso realizar alguma dessas modificações, por favor entre em contato.

                        video(width='640', height='auto', controls)
                            source(src='../resources/video/movie.mp4', type='video/mp4')
                            source(src='../resources/video/movie.ogg', type='video/ogg')
                            | Your browser does not support the video tag.

                    h3 Selecione a miniatura do seu vídeo
                    .grid-cards.cards--categorias.radio-img.video--container__thumbs(id='res-video_thumb')
                        // video (thumbs)
                        input(type='radio', name='res-video_thumb' id='video-thumb_1', value='1')
                        label.cards(for='video-thumb_1')
                            // cover
                            .cards--cover
                                img(src='../resources/video/thumb.png', alt='')

                        // video (thumbs)
                        input(type='radio', name='res-video_thumb' id='video-thumb_2', value='2' checked)
                        label.cards(for='video-thumb_2')
                            // cover
                            .cards--cover
                                img(src='../resources/video/thumb.png', alt='')

                        // video (thumbs)
                        input(type='radio', name='res-video_thumb' id='video-thumb_3', value='3')
                        label.cards(for='video-thumb_3')
                            // cover
                            .cards--cover
                                img(src='../resources/video/thumb.png', alt='')

                    p No momento, aceitamos apenas arquivos em HD ou Full HD, com extensão .mp4. Para mais detalhes, consulte&nbsp;
                        a(href='') nossas recomendações
                        |  para vídeos.

                h2 Descrição do conteúdo
                textarea(id='aula-descricao', maxlength='240', class='input aula-descricao characterCount', placeholder='Recomendamos que você estruture sua descrição de aula para que os alunos possam se interessar pelo conteúdo.')
                span.counter.aula-descricao

        // MATERIAL DE APOIO
        section.main-content.gray-bg
            form(name='material-apoio', id='aula-nova-form', method='POST')
                h2 Materiais de Apoio
                p Como forma de enriquecer nosso conteúdo dos cursos e aulas, você pode enviar até 3 materiais de apoio ao nosso aluno. Materiais digitalizados em arquivos PDF, exercícios sobre o conteúdo abordado para o aluno avaliar seu aprendizado e ainda um arquivo em áudio, que deve explorar algum assunto mais a fundo. Em caso de dúvidas, consulte nosso&nbsp;
                    a(href='javascript:', class='active-right-bar') guideline e recomendações
                    |  para os materiais de apoio.

                .apoio--container
                    // PDF
                    .apoio--container__pdf
                        h3 Arquivos ou documentos
                        .upload--container
                            input(type='file', id='aula-material_pdf', accept='.pdf')
                            label.cta.floating-cta(for='aula-material_pdf')
                                //span.has-icon.left.icon-search Procurar por .pdf
                                span.has-icon.right.icon-close Enviar novo arquivo

                            a(href='')
                                span.has-icon.left.apoio_pdf.slice-title_apoio aula 3 - material de apoio (apostila).pdf

                    // QUIZ
                    .apoio--container__xls
                        h3 Exercícios
                        .upload--container
                            input(type='file', id='aula-material_xls', accept='.xls, .xlsx, .csv')
                            label.cta.floating-cta(for='aula-material_xls')
                                //span.has-icon.left.icon-search Procurar por .xls, .xlsx ou .csv
                                span.has-icon.right.icon-close Enviar novo arquivo

                            a(href='')
                                span.has-icon.left.apoio_xls.slice-title_apoio aula 3 - exercicios.xls

                    // AUDIO
                    .apoio--container__mp3
                        h3 Áudio ou podcast
                        .upload--container
                            input(type='file', id='aula-material_mp3', accept='.mp3')
                            label.cta.floating-cta(for='aula-material_mp3')
                                //span.has-icon.left.icon-search Procurar por .mp3
                                span.has-icon.right.icon-close Enviar novo arquivo

                            a(href='')
                                span.has-icon.left.apoio_mp3.slice-title_apoio aula 3 - podcast sobre pessoas.mp3

                            .audio--container
                                audio(controls)
                                    source(src='audio/audio.ogg', type='audio/ogg')
                                    source(src='audio/audio.mp3', type='audio/mpeg')
                                    | Your browser does not support the audio element.

        // CRUM-BAR
        #crumb-bar
            button.crumb-bar__cta.left
                span.has-icon.left.icon-back Cancelar

            ul.primary-nav
                li
                    a.slice-title(href='../cursos-detalhes.html') Ingredientes coringas na cozinha australiana, muita comida exótica
                li
                    a.active(href='') Nova aula 3

            button.crumb-bar__cta.right
                span.has-icon.right.icon-check Salvar alterações

        include ../includes/footer.pug
        script(type='text/javascript', src='../resources/js/crud.js')
        script(type='text/javascript', src='../resources/js/aula-criar.js')
        script(type='text/javascript', src='../resources/js/character-count.js')
        script(type='text/javascript', src='../resources/js/change-title.js')
