// main: ../main.scss

* {
	margin: 0;
	@include border-box;
}

*:hover {
	@include transition(0.4s);
}

*:focus {
	outline-color: $accent;
}

body {
	background-color: #FFF;
	-webkit-font-smoothing: antialiased;
	font-family: $base-font;
	line-height: 1;
	color: $main-gray;

	&.gray-bg {
		background-color: $base-gray;
	}
}

a,
a:visited {
	text-decoration: none;
	cursor: pointer;
	@include transition(0.4s);
}

input,
textarea,
.select-box {
	width: 100%;
	border-color: $main-gray;
	font-size: 0.875rem;
	font-weight: $regular;
	line-height: 1.375rem;
	margin-top: 6px;
	padding: 12px 16px;
	border-radius: 0;
}

textarea {
	max-height: 216px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

table, tr, th, td {
	background-color: #FFF;
	border: 1px solid $main-gray;
	border-collapse: collapse;
	min-width: 120px;
	margin: 12px 0 24px;
	text-align: center;

	th, td {
		padding: $padding-button;
	}

	th {
		background-color: $lighter-gray;
		font-weight: $bold;
		color: $theblack;
	}

	td.h3_fake,
	td.th_fake {
		background-color: rgba(55, 71, 79, 0.08);
		color: $theblack;
		text-align: left;
	}
}
