doctype html
html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Rapiddo

        // CSS FILES
        link(rel='stylesheet', href='sources/css/main.css')

    body
        // Header
        header
            .wrapper
                .logo.sprite Rapiddo
                a(href='http://play.google.com', target='_blank').cta Baixar grátis

        // Slideshow
        section#slideshow
            .slides-group
                mixin slides(className)
                    .slides
                        // Banner
                        .banners(class= className)
                            .wrapper
                                block

                        // Device
                        .device
                            img(src='sources/img/banners/screen-' + className + '.jpg', alt='', border='0')

                +slides('rapiddo')
                    h1 Tudo em um clique
                    h2 Serviços e compras em  um só aplicativo

                +slides('music')
                    h1 Random quote
                    h2 Resolva sua vida como num passe de mágica

                +slides('cashback')
                    h1 Cashback
                    h2 Resolva sua vida como num passe de mágica

        // Services
        section#services
            .wrapper
                h2 Serviços

                mixin cards-services(name, className)
                    .cards-serv(class= className)
                        .cards-serv_cover
                            h3= name
                            .cards-serv_icon.sprite
                            img(src='sources/img/services/' + className + '.png', alt='', border='0')
                        .cards-serv_legend
                            block

                .cards-group
                    +cards-services('Recarga', 'recharge')
                        p 10% do valor da recarga efetuada
                    +cards-services('Táxi', 'taxi')
                        p 10% do valor da recarga efetuada caso tenha mais texto
                    +cards-services('Contas', 'bills')
                        p 10% do valor da recarga efetuada
                    +cards-services('Pizza', 'pizza')
                        p 10% do valor da recarga efetuada e esse você pode dizer
                    +cards-services('Música', 'music')
                        p 10% do valor da recarga efetuada mas é bom esse tamanho
                    +cards-services('Conteúdo', 'news')
                        p 10% do valor da recarga efetuada

        // Cashback
        section#cashback
            .wrapper
                h2 Economia das suas compras
                p Com o Rapiddo, o preço é o mesmo que você vê por ai, com a vantagem de receber 10% do valor da compra de volta.

                h3 Como funciona?
                ul.how-to
                    mixin cashback-steps(className)
                        li(class=className)
                            .illustration.sprite
                            .oval
                                span.sprite
                            block

                    +cashback-steps('app')
                        label Você usa nossos serviços disponíveis no aplicativo
                    +cashback-steps('stamp')
                        label Recarga, táxi e pizza dão até 10% do valor de volta
                    +cashback-steps('wallet')
                        label E assim você acumula mais dinheiro na sua carteira!

        // Wallet
        section#wallet
            .wrapper
                h2 Dinheiro na sua carteira
                p A cada compra são 10% do valor de volta na sua carteira.
                p Com esta economia, você pode pagar menos na sua próxima compra de recarga, pizza, no seu taxi, etc.
                h3 Aqui você é dono do seu dinheiro.

        // Download
        section#download
            .wrapper
                h2 Baixe Grátis
                p Faça parte do clube, baixe grátis e tenha vantagens exclusivas Rapiddo.
                a(href='http://play.google.com', target='_blank').badge.sprite GooglePlay

        // Footer
        footer
            .wrapper
                p 
                    span.logo.sprite Rapiddo
                    |  é uma empresa 
                    strong Movile
                    | .

                ul.brands
                    mixin footer-brands(brand, className)
                        li(class=className)
                            span(title= brand).sprite= brand

                    +footer-brands('iFood', 'ifood')
                    +footer-brands('PlayKids', 'playkids')
                    +footer-brands('Apontador', 'apontador')
                    +footer-brands('Superplayer', 'superplayer')

        // Scripts
        script(src='sources/js/compressed.js', type='text/javascript')
        script().
            $('#slideshow .slides-group').before('<div class="slides-nav">').cycle({ 
                fx:         'fade',
                rev:        true,
                speed:      600,
                timeout:    3200,
                width:      '100%',
                height:     'auto',
                fit:        1,
                pager:      '.slides-nav'
            });

        script(src='https://use.typekit.net/svw0pdx.js', type='text/javascript')
        script(type='text/javascript').
            try{Typekit.load({ async: true });}catch(e){}
