doctype html
html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title PlayKids Oi - Ajuda para iniciar os 3 meses grátis Oi Pós Pago

        // CSS
        link(rel='stylesheet', href='resources/css/main.css')
        link(rel='stylesheet', href='resources/css/swiper.min.css')

        // FAVICON
        link(rel='icon', type='image/x-icon', href='resources/images/favicon.ico')

    body
        .container
            section.brand
                .playkids
                    img(src='resources/images/logo-pk.png', alt='PlayKids')
                .oi
                    img(src='resources/images/logo-oi.png', alt='Oi Pós Pago')

            section.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        h1 Parabéns! Agora você tem uma conta PlayKids Premium!
                        h2 Siga as instruções de como ativar os&nbsp;
                            span 3 MESES GRÁTIS
                            |  que a Oi reservou para você curtir com toda sua família!
                        .next
                            | Deslize para continuar &#10230;

                    .swiper-slide
                        h3 Clique em "Já tenho uma conta"
                        .screens
                            img(src='resources/images/android/2.png', alt='')

                    .swiper-slide
                        h3 Clique em "Entrar com telefone"
                        .screens
                            img(src='resources/images/android/3.png', alt='')

                    .swiper-slide
                        h3 Digite o seu número Oi
                        .screens
                            img(src='resources/images/android/4.png', alt='')

                    .swiper-slide
                        h3 Insira o código que você vai receber por SMS
                        .screens
                            img(src='resources/images/android/5.png', alt='')

                    .swiper-slide
                        h3 Pronto, seus 3 meses grátis estão válidos a partir de agora!
                        label Aproveite e curta com toda a família todo conteúdo do app PlayKids.
                        .screens
                            img(src='resources/images/congrats.png', alt='')

                // nav
                .swiper-pagination

            section.download
                .icon
                    img(src='resources/images/logo-pk_app.png', alt='PlayKids')
                h4 Baixe e instale o PlayKids
                .link
                    a(href='googleplay', target='_blank').btn-default Disponível na Google Play
                .details
                    p Vídeos e jogos educativos para crianças e bebês aprenderem brincando

        section.support
            a(href='mailto:suporte@playkids.com') Precisa de ajuda?


        // jQuery & JS FILES
        script(src='resources/js/jquery-3.1.0.min.js')
        script(src='resources/js/swiper.min.js')
        script(src='resources/js/functions.js')
