doctype html
html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title PlayKids Oi - Ajuda para iniciar os 3 meses grátis Oi Pós Pago

        // CSS
        link(rel='stylesheet', href='resources/css/main.css')

        // FAVICON
        link(rel='icon', type='image/x-icon', href='resources/images/favicon.ico')

    body
        #container
            section.brand
                .playkids
                    img(src='resources/images/logo-pk.png', alt='PlayKids')
                .oi
                    img(src='resources/images/logo-oi.png', alt='Oi Pós Pago')

            #help
                nav
                    ul.help-nav
                        li.active 1
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6

                .help-android
                    #cards
                        section.start
                            h1 Parabéns! Agora você tem uma conta PlayKids Premium.
                            h2 A Oi oferece à você&nbsp;
                                span 3 meses grátis
                                |  do app para curtir com toda sua família.
                            h3 Para começar, você precisa baixar e instalar o app em seu aparelho.
                            .app
                                img(src='resources/images/logo-pk_app.png', alt='PlayKids')
                                h4 PlayKids
                                p Vídeos e jogos educativos para crianças e bebês aprenderem brincando
                                a(href='https://play.google.com/store/apps/details?id=com.movile.playkids', target='_blank').btn-default Baixar na Google Play

                            .slide
                                a(href='#').next Se você já instalou, continue &#10230;

                        section.card-two
                            h3 Clique em "Já tenho uma conta"
                            .screens
                                img(src='resources/images/android/2.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Continuar &#10230;

                        section.card-three
                            h3 Clique em "Entrar com telefone"
                            .screens
                                img(src='resources/images/android/3.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Continuar &#10230;

                        section.card-four
                            h3 Digite o seu número Oi
                            .screens
                                img(src='resources/images/android/4.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Continuar &#10230;

                        section.card-five
                            h3 Você vai receber um SMS com o código de ativação. Insira o PIN recebido
                            .screens
                                img(src='resources/images/android/5.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Finalizar &#10230;

                        section.final
                            h3 Pronto, seus 3 meses grátis estão válidos a partir de agora!
                            label Aproveite e curta com toda a família todo conteúdo do app PlayKids.
                            .screens
                                img(src='resources/images/congrats.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar

                .help-ios
                    #cards
                        section.start
                            h1 Parabéns, agora você tem uma conta PlayKids Premium.
                            h2 A Oi oferece a você&nbsp;
                                span 3 meses grátis
                                |  do app para curtir com toda sua família.
                            h3 Para começar, você precisa baixar e instalar o app em seu aparelho.
                            .app
                                img(src='resources/images/logo-pk_app.png', alt='PlayKids')
                                h4 PlayKids
                                p Vídeos e jogos educativos para crianças e bebês aprenderem brincando
                                a(href='https://itunes.apple.com/br/app/playkids-videos-jogos-e-livros/id613398383?mt=8', target='_blank').btn-default Baixar na AppStore

                            .slide
                                a(href='#').next Se você já instalou, continue &#10230;

                        section.card-two
                            h3 Clique em "Já tenho uma conta"
                            .screens
                                img(src='resources/images/ios/2.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Próximo &#10230;

                        section.card-three
                            h3 Clique em "Telefone".
                            .screens
                                img(src='resources/images/ios/3.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Próximo &#10230;

                        section.card-four
                            h3 Digite o seu número Oi
                            .screens
                                img(src='resources/images/ios/4.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Finalizar &#10230;

                        section.card-five
                            h3 Você vai receber um SMS com o código de ativação. Insira o PIN recebido
                            .screens
                                img(src='resources/images/ios/5.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Finalizar &#10230;

                        section.final
                            h3 Pronto, seus 3 meses grátis estão válidos a partir de agora!
                            label Aproveite e curta com toda a família todo conteúdo do app PlayKids.
                            .screens
                                img(src='resources/images/congrats.png', alt='')

                            .slide
                                a(href='#').back &#10229; Voltar

        section#support
            a(href='mailto:suporte@playkids.com') Precisa de ajuda?


        // jQuery & JS FILES
        script(src='resources/js/jquery-3.1.0.min.js')
        script(src='resources/js/functions.js')
