// main: main.scss

// Tablets
@media (min-width: 768px) {
	h2 {
		margin-bottom: 40px;
	}

	.wrapper {
		max-width: 720px;
		margin: auto;
	}

	header {
		.wrapper {
			padding-top: 40px;
		}

		.cta {
			top: 220px;
			@include align-hor (0%);
			margin-left: 16px;
		}
	}


	// Slideshow
	#slideshow {
		.slides-group {
			min-height: 320px;
		}

		.slides-nav {
			@include align-hor(50%);
			top: 288px;
			right: inherit;

			a {
				@include border-radius (8px);
				width: 12px;
				height: 12px;
				margin-left: 16px;
			}
		}

		.slides {
			position: relative;
		}

		// Banners
		.banners {
			background-position: center;
			min-height: 320px;

			&.rapiddo {
				background-image: url('../img/banners/rapiddo.jpg');
			}

			&.music {
				background-image: url('../img/banners/music.jpg');
			}

			&.cashback {
				background-image: url('../img/banners/cashback.jpg');
			}

			h1 {
				margin-top: 80px;
			}

			h2 {
				width: 40%;
			}
		}

		// Device
		.device {
			position: absolute;
			z-index: 20;
			top: 0;
			right: 0;
			background-image: url('../img/device_hand.png');
			width: 320px;
			height: 320px;
			margin-top: 0px;

			img {
				max-width: 160px;
				margin-top: 60px;
			}
		}
	}

	// Services
	#services {
		.cards-group {
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-start;
			overflow: inherit;
		}

		.cards-serv_cover,
		.cards-serv_legend {
			width: 220px;
		}

		.cards-serv.recharge .cards-serv_cover,
		.cards-serv.recharge .cards-serv_legend {
			margin-left: 8px;
		}

		.cards-serv.news .cards-serv_cover,
		.cards-serv.news .cards-serv_legend {
			margin-right: 8px;
		}
	}

	// Cashback
	#cashback {
		padding-bottom: 120px;

		p {
			width: 64%;
		}

		.how-to {
			flex-flow: row nowrap;
			justify-content: space-between;
			position: relative;

			&::before {
				top: 70px;
				width: 64%;
				height: 8px;
			}

			li {
				.illustration {
					top: 0;
				}

				&.app .illustration {
					@include align-hor(148%);
				}

				&.wallet .illustration {
					@include align-hor(-48%);
				}

				.oval {
					margin: 24px auto 32px;
					transform: scale(1.32);
				}

				label {
					width: 88%;
					margin: 32px auto;
				}
			}
		}
	}

	// Wallet
	#wallet {
		padding-top: 80px;

		.wrapper {
			padding-left: 40%;
			text-align: right;

			&::before {
				top: -240px;
				left: -80px;
			}
		}

		h2::after {
			right: 0;
		}
	}

	// Download
	#download {
		&::before {
			background-position: 100% 40%;
		}

		p {
			width: 320px;
		}
	}

	// Footer
	footer {
		.wrapper {
			@include flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;

			.brands li {
				margin-left: 24px;
				transform: scale(1.24);

				span {
					transform: scale(0.72);
				}
			}
		}
	}
}


// Desktop
@media (min-width: 1024px) {
	#services h2,
	#cashback h2 {
		&::after {
			@include align-hor (0%);
		}
	}

	.wrapper {
		max-width: 800px;
		padding-top: 80px;
		padding-bottom: 80px;
	}

	header .cta {
		top: 280px;
	}

	// Slideshow
	#slideshow {
		.slides-group {
			min-height: 400px;
		}

		.slides-nav {
			top: 360px;
		}

		.banners {
			height: 400px;
		}

		.device {
			right: 8%;
			width: 400px;
			height: 400px;
			margin-top: 50px;
		}
	}

	// Services
	#services {
		h2 {
			text-align: left;
		}

		.cards-serv_cover,
		.cards-serv_legend {
			width: 240px;
			margin: auto;
		}

		.cards-serv.recharge .cards-serv_cover,
		.cards-serv.recharge .cards-serv_legend {
			margin-left: 0;
		}

		.cards-serv.news .cards-serv_cover,
		.cards-serv.news .cards-serv_legend {
			margin-right: 0;
		}
	}

	// Cashback
	#cashback .how-to li {
		&.app .illustration {
			@include align-hor(132%);
		}

		&.wallet .illustration {
			@include align-hor(-32%);
		}
	}

	// Wallet
	#wallet {
		.wrapper {
			padding-left: 320px;

			&::before {
				left: -120px;
				height: 480px;
			}
		}
	}
}


// Full HD
@media (min-width: 1440px) {
	#slideshow {
		.device {
			@include align-hor(72%);
		}
	}

	#wallet::before {
		left: 4%;
	}

	#download {
		min-height: 480px;
	}
}

@media (min-width: 2000px) {
	header .wrapper,
	#slideshow .wrapper {
		max-width: 1440px;
	}

	header .cta {
		top: 340px;
		padding: 40px 56px;
		font-size: 1.2vw;
	}

	#slideshow {
		.slides-group,
		.banners {
			min-height: 640px;

			h1, h2 {
				font-size: 1.2vw;
			}

			h1 {
				margin-top: 120px;
			}
		}

		.slides-nav {
			top: 600px;
		}

		.device {
			background-size: contain;
			width: 560px;
			height: 560px;
			margin-top: 150px;

			img {
				max-width: 224px;
				margin-top: 90px;
			}
		}
	}
}
