// compileCompressed: ../css/$1.css
@import "_variables";

* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	-webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
	@include border-box;
}

body {
	background-color: $grey-bg;
	font-family: 'europa';
	font-size: 16px;
	font-weight: 400;
	color: $grey;
	line-height: 132%;
}

h1, h3 {
	font-weight: 700;
	color: $theblack;
}

h2 {
	position: relative;
	margin-bottom: 40px;
	line-height: 1em;
	font-size: 1.6em;
	font-weight: 400;
	color: $theblack;

	&::after {
		@include content-obj;
		bottom: -12px;
		background-color: $orange;
		background-image: -webkit-linear-gradient(-90deg, $orange 0%, $orange-dark 100%);
		background-image: 	 -moz-linear-gradient(-90deg, $orange 0%, $orange-dark 100%);
		background-image: 		  linear-gradient(-90deg, $orange 0%, $orange-dark 100%);
		width: 40px;
		height: 4px;
	}
}

h3 {
	margin: 40px 0 24px;
	line-height: 1em;
	font-size: 1.24em;
}

p {
	margin-bottom: 1em;
	font-size: 1em;
}

a,
a:visited {
	@include transition (0.4s);
	text-decoration: none;
}

a:active,
a:hover {
}

img {
	max-width: 100%;
	height: auto;
}

.sprite {
	display: inline-block;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-size: 316px;
}

.wrapper {
	padding: 40px 16px;
}

#services {
	.wrapper {
		padding: 40px 0;
	}
}


// Zebra Grid
#services,
#wallet,
footer {
	background-color: #FFF;
}

#download {
	background-color: $orange;
	background-image: -webkit-linear-gradient(-90deg, rgba(246, 111, 29, 0) 32%, $orange-dark 100%);
	background-image: 	 -moz-linear-gradient(-90deg, rgba(246, 111, 29, 0) 32%, $orange-dark 100%);
	background-image: 		  linear-gradient(-90deg, rgba(246, 111, 29, 0) 32%, $orange-dark 100%);
}


// Services
#services {
	h2 {
		text-align: center;

		&::after {
			@include align-hor (50%);
		}
	}

	.cards-group {
		@include flex;
		flex-flow: row nowrap;
		flex: 0 0 240px;
		overflow: auto
	}

	.cards-serv {
		@include flex;
		flex-flow: column wrap;

		p {
			margin: 10px 16px 24px;
		}

		&_cover,
		&_legend {
			width: 240px;
			margin: 0 8px;
		}

		&_cover {
			position: relative;
			height: 96px;

			h3 {
				position: absolute;
				z-index: 10;
				bottom: 20px;
				left: 16px;
				margin: 0;
				color: #FFF;
			}

			.cards-serv_icon {
				position: absolute;
				z-index: 10;
				right: 16px;
				bottom: -8px;
				background-color: #FFF;
				@include border-radius (24px);
				@include box-shadow (0 4px 8px 0 rgba(55, 71, 79, 0.24));
				width: 48px;
				height: 48px;
			}
		}

		&.recharge .cards-serv_cover,
		&.recharge .cards-serv_legend {
			margin-left: 16px;
		}

		&.news .cards-serv_cover,
		&.news .cards-serv_legend {
			margin-right: 16px;
		}

		// Icons
		&.recharge .cards-serv_icon {
			background-position: 0px -116px;
		}

		&.taxi .cards-serv_icon {
			background-position: -58px -116px;
		}

		&.bills .cards-serv_icon {
			background-position: -116px -116px;
		}

		&.pizza .cards-serv_icon {
			background-position: 0px -174px;
		}

		&.music .cards-serv_icon {
			background-position: -58px -174px;
		}

		&.news .cards-serv_icon {
			background-position: -116px -174px;
		}
	}
}


//Cashback
#cashback {
	padding-bottom: 40px;

	.how-to {
		&::before {
			@include content-obj;
			@include align-hor (50%);
			z-index: 1;
			background-color: rgba(55, 71, 79, 0.08);
			width: 8px;
			height: 64%;
		}

		@include flex;
		flex-flow: column wrap;
		flex: 0 0 100%;

		li {
			position: relative;
			z-index: 10;

			.oval {
				background-color: #FFF;
				@include border-radius (48px);
				width: 80px;
				height: 80px;
				margin: auto;

				span {
					@include content-obj;
					width: 80px;
					height: 80px;
				}
			}

			// Icons
			&.app span {
				background-position: 0 -232px;
			}

			&.stamp span {
				background-position: -180px -232px;
				width: 136px;
				height: 136px;
				margin: -26px;
				transform: scale(0.72);
			}

			&.wallet span {
				background-position: -90px -232px;
			}

			label {
				display: block;
				background-color: rgba(245, 245, 245, 0.88);
				width: 72%;
				margin: 8px auto 32px;
				padding: 8px;
				text-align: center;
			}
		}
	}
}


// Wallet
#wallet {
	padding-top: 160px;

	.wrapper {
		position: relative;

		&::before {
			@include content-obj;
			top: -240px;
			background-image: url('../img/wallet.png');
			background-repeat: no-repeat;
			background-size: contain;
			width: calc(100% - 32px);
			height: 400px;
		}
	}
}


// Download
#download {
	position: relative;

	&::before {
		@include content-obj;
		background-image: url('../img/bg-girl.png');
		background-position: 32% 100%;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	* {
		position: relative;
		z-index: 10;
		color: #FFF;
	}

	h2::after {
		display: none;
	}

	p {
		width: 72%;
	}

	.badge {
		@include text-hidden;
		background-position: -176px -116px;
		width: 140px;
		height: 42px;
	}
}


// Footer
footer {
	text-align: center;

	.logo {
		@include text-hidden;
		background-position: -109px 0;
		width: 99px;
		height: 32px;
		margin-bottom: -10px;
	}

	.brands {
		@include flex;
		flex-flow: row nowrap;
		justify-content: center;

		li {
			@include flex;
			justify-content: center;
			align-items: center;
			background-color: #FFF;
			@include border-radius (32px);
			width: 64px;
			height: 64px;
			margin: 16px auto;

			// Icons
			span {
				@include text-hidden;
				width: 64px;
				height: 64px;
				transform: scale(0.88);
			}

			&.ifood span {
				background-position: 0 -42px;
			}

			&.playkids span {
				background-position: -74px -42px;
			}

			&.apontador span {
				background-position: -148px -42px;
			}

			&.superplayer span {
				background-position: -222px -42px;
			}
		}
	}
}

// Media Queries
@import "_media-queries";
