// compileCompressed: ../css/$1.css
@import "_variables";

* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	-webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
	@include border-box;
}

body {
	background-color: $grey-bg;
	font-family: $body-font;
	font-size: 14px;
	font-weight: 400;
	color: $grey;
	line-height: 144%;
}

h1, h3 {
	font-weight: 600;
	color: $theblack;
}

h1 {
	margin-bottom: 8px;
	font-size: 1.54em;
	font-weight: 600;
	color: #FFF;
}

h2 {
	margin-bottom: 40px;
	font-size: 1.32em;
	font-weight: 400;
	color: $theblack;
}

section h2 {
	position: relative;

	&::after {
		@include content-obj;
		bottom: -12px;
		background-color: $orange;
		background-image: -webkit-linear-gradient(-90deg, $orange 0%, $orange-dark 100%);
		background-image: 	 -moz-linear-gradient(-90deg, $orange 0%, $orange-dark 100%);
		background-image: 		  linear-gradient(-90deg, $orange 0%, $orange-dark 100%);
		width: 40px;
		height: 4px;
	}
}

h3 {
	margin: 40px 0 24px;
	font-size: 1.16em;
}

p {
	margin-bottom: 1em;
	font-size: 1em;
}

a,
a:visited {
	@include transition (0.4s);
	text-decoration: none;
}

a:active,
a:hover {
}

img {
	max-width: 100%;
	height: auto;
}

.sprite {
	display: inline-block;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-size: 316px;
}

// Modal
.modal {
	display: none;
	background-color: rgba(55, 71, 79, 0.48);
	width: 100%;
	height: 100%;

	.close {
		@include content-obj;
		z-index: 60;
		top: 0;
		right: 0;
		background-image: -webkit-linear-gradient(0deg, rgba(55, 71, 79, 0) 32%, rgba(55, 71, 79, 0.72) 100%);
		background-image: 	 -moz-linear-gradient(0deg, rgba(55, 71, 79, 0) 32%, rgba(55, 71, 79, 0.72) 100%);
		background-image: 		  linear-gradient(0deg, rgba(55, 71, 79, 0) 32%, rgba(55, 71, 79, 0.72) 100%);
		width: 100%;
		padding: 8% 0;
		text-align: right;

		span {
			background-position: -268px -426px;
			width: 32px;
			height: 32px;
			margin: 0 16px
		}
	}
}

body.video-open {
	.modal {
		@include content-obj;
		z-index: 50;
	}
}


// Zebra Grid
#services,
#wallet,
footer {
	background-color: #FFF;
}

#download {
	background-color: $orange;
	background-image: -webkit-linear-gradient(-90deg, rgba(246, 111, 29, 0) 32%, $orange-dark 100%);
	background-image: 	 -moz-linear-gradient(-90deg, rgba(246, 111, 29, 0) 32%, $orange-dark 100%);
	background-image: 		  linear-gradient(-90deg, rgba(246, 111, 29, 0) 32%, $orange-dark 100%);
}

// Wrapper
.wrapper {
	padding: 40px 16px;
}

#services .wrapper {
	padding: 40px 0;
}


// Header
header {
	position: absolute;
	z-index: 20;
	top: 0;
	width: 100%;

	.wrapper {
		position: relative;
		padding: 16px;
	}

	.logo {
		@include text-hidden;
		background-position: 0px 0px;
		width: 99px;
		height: 32px;
	}

	.cta {
		position: absolute;
		z-index: 30;
		top: 214px;
		@include align-hor(50%);
		background-color: $green;
		background-image: -webkit-linear-gradient(-90deg, $green 0%, $green-dark 100%);
		background-image: 	 -moz-linear-gradient(-90deg, $green 0%, $green-dark 100%);
		background-image: 		  linear-gradient(-90deg, $green 0%, $green-dark 100%);
		@include border-radius (4px);
		@include box-shadow (0 8px 16px 0 rgba(55, 71, 79, 0.32));
		padding: 16px 24px;
		font-size: 1.2em;
		font-weight: 600;
		color: #FFF;
	}
}


// Slideshow
#slideshow {
	.slides-group {
		width: 100% !important;
		min-height: 544px;
	}

	.slides-nav {
		position: absolute;
		z-index: 30;
		top: 24px;
		right: 24px;
		@include flex;
		flex-flow: row nowrap;
		text-align: right;

		a {
			@include text-hidden;
			background-color: rgba(255, 255, 255, 0.40);
			@include border-radius (8px);
			width: 12px;
			height: 12px;
			margin-left: 16px;

			&.activeSlide {
				background-color: #FFF;
			}
		}
	}

	// Banners
	.banners {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 240px;

		&.rapiddo {
			background-image: url('../img/banners/rapiddo_mobile.jpg');
		}

		&.music {
			background-image: url('../img/banners/music_mobile.jpg');
		}

		&.cashback {
			background-image: url('../img/banners/cashback_mobile.jpg');
		}

		&.campanha {
			background-image: url('../img/banners/campanha_mobile.jpg');

			.play {
				font-size: 1.24em;
				font-weight: 700;
				color: #FFF;

				span {
					@include align-ver(-32%);
					background-position: -284px -378px;
					width: 32px;
					height: 32px;
					margin-right: 12px;
				}
			}
		}

		h1 {
			margin-top: 40px;
		}

		h2 {
			width: 80%;
			margin-bottom: 0;
			color: #FFF;

			&::after {
				display: none;
			}
		}
	}

	// Device
	.device {
		background-image: url('../img/device.png');
		background-position: 50% 0%;
		background-repeat: no-repeat;
		background-size: 400px;
		height: 280px;
		overflow: hidden;
		margin-top: 24px;
		text-align: center;

		img {
			max-width: 160px;
			margin-top: 60px;
		}
	}

	.slides:first-child {
		.device {
			background-image: url('../img/boneco.png');
			background-size: 320px;
			background-position: 0px 40px;

			img {
				display: none;
			}
		}
	}
}


// Services
#services {
	h2 {
		text-align: center;

		&::after {
			@include align-hor (50%);
		}
	}

	.cards-group {
		@include flex;
		flex-flow: row nowrap;
		flex: 0 0 240px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	.cards-serv {
		p {
			margin: 16px 0 32px;
		}

		&_cover,
		&_legend {
			width: 240px;
			margin: 0 8px;
		}

		&_cover {
			position: relative;
			height: 96px;

			h3 {
				position: absolute;
				z-index: 10;
				bottom: 12px;
				left: 16px;
				margin: 0;
				color: #FFF;
			}

			.cards-serv_icon {
				position: absolute;
				z-index: 10;
				right: 16px;
				bottom: -8px;
				background-color: #FFF;
				@include border-radius (24px);
				@include box-shadow (0 4px 8px 0 rgba(55, 71, 79, 0.24));
				width: 48px;
				height: 48px;
			}
		}

		&.recharge .cards-serv_cover,
		&.recharge .cards-serv_legend {
			margin-left: 16px;
		}

		&.news .cards-serv_cover,
		&.news .cards-serv_legend {
			margin-right: 16px;
		}

		// Icons
		&.recharge .cards-serv_icon {
			background-position: 0px -116px;
		}

		&.taxi .cards-serv_icon {
			background-position: -58px -116px;
		}

		&.bills .cards-serv_icon {
			background-position: -116px -116px;
		}

		&.pizza .cards-serv_icon {
			background-position: 0px -174px;
		}

		&.music .cards-serv_icon {
			background-position: -58px -174px;
		}

		&.news .cards-serv_icon {
			background-position: -116px -174px;
		}
	}
}


//Cashback
#cashback {
	padding-bottom: 40px;

	.how-to {
		&::before {
			@include content-obj;
			@include align-hor (50%);
			z-index: 1;
			background-color: rgba(55, 71, 79, 0.08);
			width: 8px;
			height: 64%;
		}

		@include flex;
		flex-flow: column wrap;
		flex: 0 0 100%;

		li {
			position: relative;
			z-index: 10;

			.illustration {
				@include content-obj;
				@include align-hor(50%);
				top: 32px;
				z-index: 20;
				width: 136px;
				height: 136px;
			}

			.oval {
				background-color: #FFF;
				@include border-radius (48px);
				width: 80px;
				height: 80px;
				margin: auto;

				span {
					@include content-obj;
					width: 80px;
					height: 80px;
				}
			}

			// Icons
			&.app {
				.illustration {
					background-position: 0px -322px;
				}

				span {
					background-position: 0 -232px;
				}
			}

			&.stamp {
				.illustration {
					display: none;
				}

				span {
					background-position: -180px -232px;
					width: 136px;
					height: 136px;
					margin: -26px;
					transform: scale(0.72);
				}

				label {
					margin: 24px auto;
				}
			}

			&.wallet {
				.illustration {
					background-position: 0px -468px;
				}

				span {
					background-position: -90px -232px;
				}
			}

			label {
				display: block;
				background-color: rgba(245, 245, 245, 0.88);
				width: 72%;
				margin: 72px auto 24px;
				padding: 8px;
				text-align: center;
			}
		}
	}
}


// Wallet
#wallet {
	.wrapper {
		position: relative;
		padding-top: 56%;

		&::before {
			@include content-obj;
			top: -16%;
			background-image: url('../img/wallet.png');
			background-repeat: no-repeat;
			background-size: contain;
			width: calc(100% - 32px);
			height: 400px;
		}
	}
}


// Download
#download {
	position: relative;

	&::before {
		@include content-obj;
		background-image: url('../img/bg-girl.png');
		background-position: 32% 100%;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	* {
		position: relative;
		z-index: 10;
		color: #FFF;
	}

	h2::after {
		display: none;
	}

	p {
		width: 72%;
	}

	.badge {
		@include text-hidden;
		background-position: -176px -116px;
		width: 140px;
		height: 42px;
	}
}


// Footer
footer {
	text-align: center;

	.logo {
		@include text-hidden;
		background-position: -109px 0;
		width: 99px;
		height: 32px;
		margin-bottom: -10px;
	}

	.brands {
		@include flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		li {
			@include flex;
			justify-content: center;
			align-items: center;
			background-color: $grey-bg;
			@include border-radius (32px);
			width: 64px;
			height: 64px;

			// Icons
			span {
				@include text-hidden;
				width: 64px;
				height: 64px;
				transform: scale(0.72);
			}

			&.ifood span {
				background-position: 0 -42px;
			}

			&.playkids span {
				background-position: -74px -42px;
			}

			&.apontador span {
				background-position: -148px -42px;
			}

			&.superplayer span {
				background-position: -222px -42px;
			}
		}
	}
}

// Media Queries
@import "_media-queries";
