doctype html
html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Rapiddo

        // CSS Files
        link(rel='stylesheet', href='resources/css/main.css')

        // Favicon
        link(rel='shortcut icon', href='resources/img/favicon.ico', type='image/x-icon')
        link(rel='icon', href='resources/img/favicon.ico', type='image/x-icon')

    body.fix-bg
        // Header
        header
            .wrapper
                h1.sprite Rapiddo

        // Banners
        section#banners
            .wrapper
                span.sprite.icon-market
                h2 Ganhe dinheiro
                    span fazendo compra no mercado.

        // Works
        section#works
            .wrapper
                h3 Como funciona?
                p Baixe o app, ganhe 10% do seu dinheiro de volta fazendo compras no mercado ou utilizando outros serviços, como:

                ul
                    li
                        span.sprite.icon-market
                        | Mercado

                    li
                        span.sprite.icon-bills
                        | Contas

                    li
                        span.sprite.icon-food
                        | Comida

                    li
                        span.sprite.icon-delivery
                        | Entrega

                    li
                        span.sprite.icon-music
                        | Música

                    li
                        span.sprite.icon-tickets
                        | Ingresso

                    li
                        span.sprite.icon-news
                        | Conteúdo

                    li
                        span.sprite.icon-recharge
                        | Recarga

        // Footer
        footer
            a(href='preferencias.html', onclick="ga('send', 'event', '[btn] Eu quero', 'click', '1o Funil');").cta-button Eu quero!

        // GA
        script(type='text/javascript').
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-93185721-2', 'auto');
            ga('send', 'pageview');
