// main: ../main.scss

.main-content {
	background-color: #FFF;
	margin-left: 200px;
	padding: 32px;
	justify-content: space-between;
	align-items: flex-start;
	flex-flow: column wrap;

	&.gray-bg {
		background-color: $base-gray;
		margin-top: 0;
	}

	&:after {
		position: absolute;
		z-index: 10;
		content: "";
		bottom: 0;
		left: 36px;
		width: calc(100% - 36px);
		height: 1px;
		background-color: #37474f;
		background-color: rgba(55, 71, 79, 0.12);
	}
}

.hashtag {
	margin-top: 0;

	h2 {
		color: $accent;
	}

	&:after {
		display: none;
	}
}

body.details {
	.main-content {
		&:after {
			display: none;
		}
	}

	.main-margin {
		&:after {
			display: block;
		}
	}
}

body.crud-form {
	.main-content.gray-bg {
		padding-bottom: 112px;
	}

	.crumb-margin {
		padding-bottom: 120px;
	}
}
