// main: ../main.scss

#sidemodal {
	position: fixed;
	width: 56%;
	height: 100%;
	right: -56%;
	background-color: #fff;
	z-index: 50;
	overflow-y: auto;

	.sidemodal__wrapper {
		float: left;
		width: 100%;
		padding: 0 72px 36px;
		margin-top: 54px;

		& > .main-label {
			font-size: 0.75rem;
			text-transform: uppercase;
			letter-spacing: 0.06rem;
			color: $main-gray;
		}

		h1 {
			margin: 18px 0;
		}
	}

	.sidemodal__main-content {
		margin-top: 24px;
	}
}

.sidemodal__bg {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 40;
}

.sidemodal__upload {
	.feedback-msg {
		p:first-child {
			margin: 0;
		}
	}

	.sidemodal__main-content h2 {
		color: $theblack;
	}

	.sidemodal__progress {
		background-color: $lighter-gray;
		width: 100%;
		height: 20px;
		margin-top: 6px;
		@include flex;

		span {
			background-color: $accent;
			border-right: 4px solid 4px solid rgba(255,255,255,0.48);
			height: 100%;
			@include flex;
		}
	}
}

.sidemodal__upload--items {
	padding-bottom: 32px;

	.main-label {
		margin: 6px 0 12px;
	}

	&.done {
		h2.icon-check-green {
			color: $green;
		}

		.sidemodal__progress span {
			background-color: $green;
		}
	}
}

.sidemodal__main-content {
	.sidemodal__upload--items {
		h3 {
			color: $accent;
		}
	}
}


// CANCEL
.sidemodal__cancel {
	display: none;
	position: relative;
	z-index: 70;
	width: 40%;
	margin-top: 32%;
	padding: 32px;
	flex-flow: row wrap;
	@include flex;

	h1 {
		width: 100%;
		margin-bottom: 32px;
		line-height: 1.32em;
		color: #FFF;
	}

	.sidemodal__actions {
		width: 100%;
		flex-flow: row wrap;
		@include flex;

		.cta {
			width: 88%;
			margin: 12px 0 12px auto;

			&.right {
				text-align: right;
			}
		}
	}
}
