// main: ../main.scss

.crud-form {
	.main-content {
		&:after {
			display: none;
		}
	}

	.gray-bg {
		width: 100%;
		margin-left: 0;
		padding-left: 232px;

		p {
			color: rgba(55, 71, 79, 0.48);
		}
	}
}

.aula-nome,
.aula-descricao {
	width: 640px;
}

textarea.aula-descricao {
	height: 176px;
}


// VIDEO
.video--container {
	//display: none;
	margin: 12px 0;

	video {
		margin-bottom: 20px;
	}
}

// MATERIAL DE APOIO
.apoio--container {
	margin-top: 32px;
	flex-flow: row wrap;
	justify-content: space-between;
	@include flex;

	&__pdf,
	&__xls {
		width: 48%;
	}

	a,
	a:visited {
		margin-top: 6px;
	}

	.apoio_pdf,
	.apoio_xls,
	.apoio_mp3 {
		margin-top: 12px;
		padding-left: 32px;
		font-size: 0.88em;

		&:after {
			top: calc(50% - 12px);
			width: 24px;
			height: 24px;
		}
	}

	&__mp3 {
		width: 100%;

		.audio--container {
			width: 320px;
			margin-top: 12px;

			audio {
			   width: 100%;
			   margin-top: 20px;
		   }
		}
	}
}
