doctype html
html(lang='pt-br')
    head
        include ../includes/head.pug

    body.mobile-only.details
        aside
            .logo
                a(href='index.html')
                    img.blue(src='../resources/img/logo-vivo_educa.png', alt='Vivo Educa')

            include ../includes/aside-menu.pug


        // MOBILE ALERT
        .info
            | Por favor, acesse pelo seu desktop ou notebook.

        // UPPER BAR
        section.upper-bar
            h1 Introdução aos ingredientes coringas dentro da cozinha e das opções artesanais em nossa vida e cotidiano Árabe
            //h2.pending Você precisa publicar as atualizações.

            .upper-bar__status
                // UPDATE
                    a.sidemodal.cta.floating-cta.update_pending
                    span.has-icon.left.icon-plus Atualizar

                // PUBLICAR CURSO
                a.cta.floating-cta.publicado()
                    span.has-icon.right.icon-check Curso publicado!

            .upper-bar__actions
                a(href='editar.html')
                    span.has-icon.left.icon-edit-black Editar
                a(href='configuracoes.html')
                    span.has-icon.left.icon-settings Configurações


        // MAIN
        section.main-content.main-margin
            h2 Detalhes do seu curso
            p Esse curso é oferecido à todos os amantes da cozinha e da boa comida, e que queira dominar e aprender mais sobre culinária e não tem tempo para cursar aulas de gastronomia, então ele precisa de um curso para mobile que vai ajudá-lo a resolver esse problema.

            h3 Curso de Gastronomia&nbsp;
                span.premium premium
                | , com carga duração de 16 horas.

        // GRADE
        section.main-content
            h2 Grade curricular

            .grid-cards.cards--aulas
                // cards cursos
                a(href='../aulas/editar.html')
                    // data de publicacao
                    .main-label.main-label__number
                        | 1

                    .cards
                        // cover
                        .cards--cover
                            span.degustacao Degustação
                            span.id 2:35
                            img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                        // detalhes
                        .cards--details
                            h1 Introdução aos ingredientes coringas dentro da cozinha

                            .cards--details__apoio
                                .main-label
                                    | Material de Apoio

                                ul
                                    li.checked
                                        span.apoio_pdf
                                    li
                                        span.apoio_xls
                                    li.checked
                                        span.apoio_mp3

                // cards cursos
                a(href='../aulas/editar.html')
                    // data de publicacao
                    .main-label.main-label__number
                        | 2

                    .cards
                        // cover
                        .cards--cover
                            span.id 2:35
                            img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                        // detalhes
                        .cards--details
                            h1 Palavras mágicas que podem transformar boas refeições durante o jantar em família, mas isso tudo é um título talvez

                            .cards--details__apoio
                                .main-label
                                    | Material de Apoio

                                ul
                                    li
                                        span.apoio_pdf
                                    li.checked
                                        span.apoio_xls
                                    li.checked
                                        span.apoio_mp3

                // cards cursos
                a(href='../aulas/editar.html')
                    // data de publicacao
                    .main-label.main-label__number
                        | 3

                    .cards
                        // cover
                        .cards--cover
                            span.id 2:35
                            img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                        // detalhes
                        .cards--details
                            h1 Agora não vamos ter nenhum material de apoio mas apenas o nosso vídeo é bom o suficiente para essa aula

                            .cards--details__apoio
                                .main-label
                                    | Material de Apoio

                                ul
                                    li
                                        span.apoio_pdf
                                    li
                                        span.apoio_xls
                                    li
                                        span.apoio_mp3

                // cards cursos
                a(href='../aulas/editar.html')
                    // data de publicacao
                    .main-label.main-label__number
                        | 4

                    .cards
                        // cover
                        .cards--cover
                            span.id 2:35
                            img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                        // detalhes
                        .cards--details
                            h1 Facas, garfos e colheres certas para todos os mais derivados pratos e opções

                            .cards--details__apoio
                                .main-label
                                    | Material de Apoio

                                ul
                                    li.checked
                                        span.apoio_pdf
                                    li
                                        span.apoio_xls
                                    li
                                        span.apoio_mp3

                // cards cursos
                a(href='../aulas/editar.html')
                    // data de publicacao
                    .main-label.main-label__number
                        | 5

                    .cards
                        // cover
                        .cards--cover
                            span.id 2:35
                            img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                        // detalhes
                        .cards--details
                            h1 Introdução aos ingredientes coringas dentro da cozinha

                            .cards--details__apoio
                                .main-label
                                    | Material de Apoio

                                ul
                                    li.checked
                                        span.apoio_pdf
                                    li
                                        span.apoio_xls
                                    li.checked
                                        span.apoio_mp3

                // cards cursos
                a(href='../aulas/editar.html')
                    // data de publicacao
                    .main-label.main-label__number
                        | 6

                    .cards
                        // cover
                        .cards--cover
                            span.id 2:35
                            img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                        // detalhes
                        .cards--details
                            h1 Introdução aos ingredientes coringas dentro da cozinha

                            .cards--details__apoio
                                .main-label
                                    | Material de Apoio

                                ul
                                    li.checked
                                        span.apoio_pdf
                                    li.checked
                                        span.apoio_xls
                                    li
                                        span.apoio_mp3

                // cards cursos (nova aula)
                a.crud(href='../aulas/nova-aula.html')
                    // cta button
                    .main-label.main-label__cta.cta.floating-cta
                        span.has-icon.right.icon-plus Nova aula

                    .cards
                        // cover
                        .cards--cover
                            img(src='../resources/img/categorias/gastronomia.png', alt='Categoria do curso')

                        // detalhes
                        .cards--details
                            h1 Cadastre uma nova aula para esse curso

                            .cards--details__apoio
                                .main-label
                                    | Material de Apoio

                                ul
                                    li
                                    li
                                    li

        // DRAFT
        section.main-content.gray-bg
            h2 Aulas Ao Vivo
            p No momento, estamos configurando e ajustando o melhor formato para oferecer esse conteúdo aos nossos usuários. Em caso de dúvidas, por favor entre em contato para mais informações.

        include ../includes/footer.pug
