doctype html
html(lang='pt-br')
    head
        include ../includes/head.pug

    body.crud-form
        aside
            .logo
                a(href='index.html')
                    img.blue(src='../resources/img/logo-vivo_educa.png', alt='Vivo Educa')


        // MOBILE ALERT
        .info
            | Por favor, acesse pelo seu desktop ou notebook.

        // UPPER BAR
        section.upper-bar
            h1 Editar o curso #302

        // MAIN
        section.main-content.main-margin.crumb-margin
            form(name='aula-nova', id='aula-nova-form', method='POST')
                h2 Qual o nome do curso?
                input(type='text', maxlength='120', id='aula-nome', class='input aula-nome characterCount use-title', placeholder='Ex.: Introdução à inteligência artificial' value='Ingredientes coringas na cozinha australiana, muita comida exótica')
                span.counter.aula-nome

            .itens-locked
                .feedback-msg
                    h3 Curso já publicado e com usuários cursando,
                    p por isso não é mais possível editar se este é um curso Premium/Gratuito ou até mesmo mudar sua categoria. Caso for preciso realizar alguma dessas modificações, por favor entre em contato.

                h2 Será um curso...
                .offer--container.radio-img(id='res-type')
                    input(type='radio', name='res-type' id='curso-premium', value='Premium' checked)
                    label(for='curso-premium')
                        h3 Premium
                        p Conteúdo exclusivo para assinantes. Para promover o curso, a 1º aula é liberada como degustação.
                        h4.cta.floating-cta
                            span.has-icon.left.icon-check Conteúdo exclusivo

                h2 Escolha a categoria do conteúdo
                .grid-cards.cards--categorias.radio-img(id='res-categoria')
                    // categorias (gastronomia)
                    input(type='radio', name='res-categoria' id='categoria-gastronomia', value='Gastronomia' checked)
                    label.cards(for='categoria-gastronomia')
                        // cover
                        .cards--cover
                            img(src='../resources/img/categorias/gastronomia.png', alt='Gastronomia')

                        // detalhes
                        .cards--details
                            h1 Gastronomia

        // CRUM-BAR
        #crumb-bar
            button.crumb-bar__cta.left
                span.has-icon.left.icon-back Voltar

            ul.primary-nav
                li
                    a(href='list-publicados.html') Cursos
                li
                    a.active(href='list-publicados.html') Gastronomia
                li.slice-title Ingredientes coringas na cozinha australiana, muita comida exótica

            button.crumb-bar__cta.right
                span.has-icon.right.icon-check Salvar

        include ../includes/footer.pug
        script(type='text/javascript', src='../resources/js/crud.js')
        script(type='text/javascript', src='../resources/js/aula-criar.js')
        script(type='text/javascript', src='../resources/js/character-count.js')
        script(type='text/javascript', src='../resources/js/change-title.js')
