doctype html
html(lang='pt-br')
    head
        include ../includes/head.pug

    body.mobile-only
        aside
            .logo
                a(href='index.html')
                    img.blue(src='../resources/img/logo-vivo_educa.png', alt='Vivo Educa')

            include ../includes/aside-menu.pug


        // MOBILE ALERT
        .info
            | Por favor, acesse pelo seu desktop ou notebook.

        // UPPER BAR
        section.upper-bar
            h1 Gerencie seus cursos na plataforma
            a.cta.floating-cta(href='novo-curso.html')
                span.has-icon.left.icon-plus Novo curso

        // MAIN
        section.main-content.main-margin
            h2 Cursos publicado aos usuários do Vivo Educa.

            .grid-cards.cards--cursos__plubicados
                // cards cursos
                a(href='detalhes-curso.html')
                    // data de publicacao
                    .main-label
                        | Publicado em dd/mm/yyyy

                    .cards
                        // cover
                        .cards--cover
                            span.id ID #220
                            img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                        // detalhes
                        .cards--details
                            h1 Introdução aos ingredientes coringas dentro da cozinha
                            h2 Gastronomia
                            span.premium Premium

                // cards cursos
                a(href='detalhes-curso.html')
                    // data de publicacao
                    .main-label
                        | Publicado em dd/mm/yyyy

                    .cards
                        // cover
                        .cards--cover
                            span.id ID #220
                            img(src='../resources/img/cursos/cover_2.png', alt='Título da aula')

                        // detalhes
                        .cards--details
                            h1 Introdução aos ingredientes coringas dentro da cozinha maravilhosas
                            h2 Gastronomia
                            span Gratuito

                // cards cursos
                a(href='detalhes-curso.html')
                    // data de publicacao
                    .main-label
                        | Publicado em dd/mm/yyyy

                    .cards
                        // cover
                        .cards--cover
                            span.id ID #220
                            img(src='../resources/img/cursos/cover_5.png', alt='Título da aula')

                        // detalhes
                        .cards--details
                            h1 Introdução aos ingredientes coringas dentro da cozinha maravilhosas da tia e da vovó, não perca!
                            h2 Gastronomia
                            span.premium Premium

        // DRAFT
        section.main-content.gray-bg
            h2 Cursos em rascunho
            p Para publicar um curso, é necessário ter no mínimo 3 aulas cadastradas e todas as configurações preenchidas. Em caso de dúvidas, consulte nosso&nbsp;
                a(href='../guideline/index.html') Guideline
                | .

                .grid-cards.cards--cursos__drafts
                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_4.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha
                                h2 Gastronomia
                                span.premium Premium

                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_2.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha maravilhosas
                                h2 Gastronomia
                                span Gratuito

                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha maravilhosas da tia e da vovó, não perca!
                                h2 Gastronomia
                                span.premium Premium

                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_4.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha
                                h2 Gastronomia
                                span.premium Premium

                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_5.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha maravilhosas
                                h2 Gastronomia
                                span Gratuito

                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_4.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha
                                h2 Gastronomia
                                span.premium Premium

                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_2.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha maravilhosas
                                h2 Gastronomia
                                span Gratuito

                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha maravilhosas da tia e da vovó, não perca!
                                h2 Gastronomia
                                span.premium Premium

                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_4.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha
                                h2 Gastronomia
                                span.premium Premium

                    // cards cursos
                    a(href='detalhes-curso.html')
                        // data de publicacao
                        .main-label
                            | Última atualização dd/mm/yyyy

                        .cards
                            // cover
                            .cards--cover
                                span.id ID #220
                                img(src='../resources/img/cursos/cover_5.png', alt='Título da aula')

                            // detalhes
                            .cards--details
                                h1 Introdução aos ingredientes coringas dentro da cozinha maravilhosas
                                h2 Gastronomia
                                span Gratuito

        include ../includes/footer.pug
