doctype html
html(lang='pt-br')
    head
        include ../includes/head.pug

    body.crud-form
        aside
            .logo
                a(href='index.html')
                    img.blue(src='../resources/img/logo-vivo_educa.png', alt='Vivo Educa')


        // MOBILE ALERT
        .info
            | Por favor, acesse pelo seu desktop ou notebook.

        // UPPER BAR
        section.upper-bar
            h1 Novo curso:&nbsp;
                span preenhcer abaixo

        // MAIN
        section.main-content.main-margin

            form(name='aula-nova', id='aula-nova-form', method='POST')
                h2 Qual o nome do curso?
                input(type='text', maxlength='120', id='aula-nome', class='input aula-nome characterCount use-title', placeholder='Ex.: Introdução à inteligência artificial')
                span.counter.aula-nome

                h2 Será um curso..
                .offer--container.radio-img(id='res-type')
                    input(type='radio', name='res-type' id='curso-gratuito', value='Free')
                    label(for='curso-gratuito')
                        h3 Gratuito
                        p Conteúdo aberto à todos os alunos e usuários do produto, assim como seu material de apoio.
                        h4.cta.floating-cta
                            span.has-icon.left.icon-plus Conteúdo Gratuito


                    input(type='radio', name='res-type' id='curso-premium', value='Premium')
                    label(for='curso-premium')
                        h3 Premium
                        p Conteúdo exclusivo para assinantes. Para promover o curso, a 1º aula é liberada como degustação.
                        h4.cta.floating-cta
                            span.has-icon.left.icon-check Conteúdo exclusivo

                h2 Escolha a categoria do conteúdo
                .grid-cards.cards--categorias.radio-img(id='res-categoria')
                    // categorias (cursinhos)
                    input(type='radio', name='res-categoria' id='categoria-cursinhos', value='Cursos Preparatórios')
                    label.cards(for='categoria-cursinhos')
                        // cover
                        .cards--cover
                            img(src='../resources/img/categorias/cursinhos.png', alt='Cursos Preparatórios')

                        // detalhes
                        .cards--details
                            h1 Cursos Preparatórios

                    // categorias (ensino)
                    input(type='radio', name='res-categoria' id='categoria-ensino', value='Ensino e Apoio Escolar')
                    label.cards(for='categoria-ensino')
                        // cover
                        .cards--cover
                            img(src='../resources/img/categorias/ensino.png', alt='Ensino e Apoio Escolar')

                        // detalhes
                        .cards--details
                            h1 Ensino e Apoio Escolar

                    // categorias (gastronomia)
                    input(type='radio', name='res-categoria' id='categoria-gastronomia', value='Gastronomia')
                    label.cards(for='categoria-gastronomia')
                        // cover
                        .cards--cover
                            img(src='../resources/img/categorias/gastronomia.png', alt='Gastronomia')

                        // detalhes
                        .cards--details
                            h1 Gastronomia

                    // categorias (infantil)
                    input(type='radio', name='res-categoria' id='categoria-infantil', value='Infatil')
                    label.cards(for='categoria-infantil')
                        // cover
                        .cards--cover
                            img(src='../resources/img/categorias/infantil.png', alt='Infatil')

                        // detalhes
                        .cards--details
                            h1 Infatil

                    // categorias (tecnologia)
                    input(type='radio', name='res-categoria' id='categoria-tecnologia', value='Tecnologia')
                    label.cards(for='categoria-tecnologia')
                        // cover
                        .cards--cover
                            img(src='../resources/img/categorias/tecnologia.png', alt='Tecnologia')

                        // detalhes
                        .cards--details
                            h1 Tecnologia

        // CRUM-BAR
        #crumb-bar
            button.crumb-bar__cta.left
                span.has-icon.left.icon-close Cancelar

            ul.primary-nav
                li
                    a(href='list-publicados.html') Cursos
                li
                    a.active() Novo curso

            button.crumb-bar__cta.right
                span.has-icon.right.icon-continue Continuar

        include ../includes/footer.pug
        script(type='text/javascript', src='../resources/js/crud.js')
        script(type='text/javascript', src='../resources/js/aula-criar.js')
        script(type='text/javascript', src='../resources/js/character-count.js')
        script(type='text/javascript', src='../resources/js/change-title.js')
