doctype html
html(lang='pt-br')
    head
        include ../includes/head.pug

    body.crud-form.re-check
        aside
            .logo
                a(href='index.html')
                    img.blue(src='../resources/img/logo-vivo_educa.png', alt='Vivo Educa')


        // MOBILE ALERT
        .info
            | Por favor, acesse pelo seu desktop ou notebook.

        // UPPER BAR
        section.upper-bar
            h1 Revisar e publicar o curso #302

        // MAIN
        section.main-content.main-margin
            .feedback-msg.alert-msg
                p Verifique abaixo o conteúdo do curso a ser publicado e liberado em nosso produto. Esse é o momento que você pode revisar seus textos, erros ortográficos ou que precise ajustar alguma imagem ou outra configuração.

            form
                .check-content
                    h1 Introdução aos ingredientes coringas dentro da cozinha e das opções artesanais em nossa vida e cotidiano Árabe

                    .main-label
                        | Descrição do seu curso
                    p Esse curso é oferecido à todos os amantes da cozinha e da boa comida, e que queira dominar e aprender mais sobre culinária e não tem tempo para cursar aulas de gastronomia, então ele precisa de um curso para mobile que vai ajudá-lo a resolver esse problema.
                    h4.hours Carga horária: 16 horas

                .check-content.grids
                    .offer--container.radio-img(id='res-type')
                        input(type='radio', name='res-type' id='curso-premium', value='Premium' checked)
                        label(for='curso-premium')
                            h3 Premium
                            p Conteúdo exclusivo para assinantes. Para promover o curso, a 1º aula é liberada como degustação.
                            .cta.floating-cta
                                span.has-icon.left.icon-check Conteúdo exclusivo

                    .grid-cards.cards--categorias.radio-img(id='res-categoria')
                        // categorias (gastronomia)
                        input(type='radio', name='res-categoria' id='categoria-gastronomia', value='Gastronomia' checked)
                        label.cards(for='categoria-gastronomia')
                            // cover
                            .cards--cover
                                img(src='../resources/img/categorias/gastronomia.png', alt='Gastronomia')

                            // detalhes
                            .cards--details
                                h1 Gastronomia

                // GRADE
                .grade-curricular.check-content
                    h2 Grade curricular

                    .grid-cards.cards--aulas
                        // cards cursos
                        a(href='')
                            // data de publicacao
                            .main-label.main-label__number
                                | 1

                            .cards
                                // cover
                                .cards--cover
                                    span.degustacao Degustação
                                    span.id 2:35
                                    img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                                // detalhes
                                .cards--details
                                    h1 Introdução aos ingredientes coringas dentro da cozinha

                                    .cards--details__apoio
                                        .main-label
                                            | Material de Apoio

                                        ul
                                            li.checked
                                                span.apoio_pdf
                                            li
                                                span.apoio_xls
                                            li.checked
                                                span.apoio_mp3

                        // cards cursos
                        a(href='')
                            // data de publicacao
                            .main-label.main-label__number
                                | 2

                            .cards
                                // cover
                                .cards--cover
                                    span.id 2:35
                                    img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                                // detalhes
                                .cards--details
                                    h1 Palavras mágicas que podem transformar boas refeições durante o jantar em família, mas isso tudo é um título talvez

                                    .cards--details__apoio
                                        .main-label
                                            | Material de Apoio

                                        ul
                                            li
                                                span.apoio_pdf
                                            li.checked
                                                span.apoio_xls
                                            li.checked
                                                span.apoio_mp3

                        // cards cursos
                        a(href='')
                            // data de publicacao
                            .main-label.main-label__number
                                | 3

                            .cards
                                // cover
                                .cards--cover
                                    span.id 2:35
                                    img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                                // detalhes
                                .cards--details
                                    h1 Agora não vamos ter nenhum material de apoio mas apenas o nosso vídeo é bom o suficiente para essa aula

                                    .cards--details__apoio
                                        .main-label
                                            | Material de Apoio

                                        ul
                                            li
                                                span.apoio_pdf
                                            li
                                                span.apoio_xls
                                            li
                                                span.apoio_mp3

                        // cards cursos
                        a(href='')
                            // data de publicacao
                            .main-label.main-label__number
                                | 4

                            .cards
                                // cover
                                .cards--cover
                                    span.id 2:35
                                    img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                                // detalhes
                                .cards--details
                                    h1 Facas, garfos e colheres certas para todos os mais derivados pratos e opções

                                    .cards--details__apoio
                                        .main-label
                                            | Material de Apoio

                                        ul
                                            li.checked
                                                span.apoio_pdf
                                            li
                                                span.apoio_xls
                                            li
                                                span.apoio_mp3

                        // cards cursos
                        a(href='')
                            // data de publicacao
                            .main-label.main-label__number
                                | 5

                            .cards
                                // cover
                                .cards--cover
                                    span.id 2:35
                                    img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                                // detalhes
                                .cards--details
                                    h1 Introdução aos ingredientes coringas dentro da cozinha

                                    .cards--details__apoio
                                        .main-label
                                            | Material de Apoio

                                        ul
                                            li.checked
                                                span.apoio_pdf
                                            li
                                                span.apoio_xls
                                            li.checked
                                                span.apoio_mp3

                        // cards cursos
                        a(href='')
                            // data de publicacao
                            .main-label.main-label__number
                                | 6

                            .cards
                                // cover
                                .cards--cover
                                    span.id 2:35
                                    img(src='../resources/img/cursos/cover_3.png', alt='Título da aula')

                                // detalhes
                                .cards--details
                                    h1 Introdução aos ingredientes coringas dentro da cozinha

                                    .cards--details__apoio
                                        .main-label
                                            | Material de Apoio

                                        ul
                                            li.checked
                                                span.apoio_pdf
                                            li.checked
                                                span.apoio_xls
                                            li
                                                span.apoio_mp3

        // CRUM-BAR
        #crumb-bar
            button.crumb-bar__cta.left
                span.has-icon.left.icon-close Cancelar

            ul.primary-nav
                li
                    a(href='list-publicados.html') Cursos
                li
                    a.active(href='list-publicados.html') Revisão
                li.slice-title Ingredientes coringas na cozinha australiana, muita comida exótica

            button.crumb-bar__cta.right
                span.has-icon.right.icon-check Confirmar publicação

        include ../includes/footer.pug
        script(type='text/javascript', src='../resources/js/crud.js')
        script(type='text/javascript', src='../resources/js/aula-criar.js')
        script(type='text/javascript', src='../resources/js/character-count.js')
        script(type='text/javascript', src='../resources/js/change-title.js')
