// main: ../main.scss

// COLORS
$accent: #660099;
$accent-hover: #f9f5fb;
$accent-pressed: #450067;
$accent-lighter: #9A58BC;
$theblack: #37474F;
$orange: #FF9900;
$green: #99CC33;
$green-hover: #10A441;

$main-gray: #A2B7C1;
$base-gray: #EFF1F1;
$lighter-gray: rgba(55,71,79,0.18);

$sidebar: #660099;
$sidebar-border: #576E95;
$ice-white: #F3F9FF;

$red: #FF0050;
$alert: rgba(255,0,80,0.5);
$success: #BCFDD4;

// OTHERS
$padding-button: 6px 12px;
