// compileCompressed: ../css/$1.css
@import "_variables";

* {
	@include border-box;
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	background-color: $white;
	font-family: $base-font;
	font-size: $base-font-size;
	color: $theblack;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
}

a,
a:visited {
	@include transition (0.4s);
	text-decoration: none;
}

a:active,
a:hover {
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	margin-bottom: 0.8em;
	font-size: 1.6em;
	font-weight: $bold;
	color: $blue;
}

h2 {
	margin-bottom: 0.8em;
	font-size: 1.4em;
	font-weight: $regular;
	color: $theblack;
}

h3 {
	margin-bottom: 0.8em;
	font-size: 1.2em;
	font-weight: $bold;
	color: $blue;
}

.btn-default,
.btn-default:visited {
	@include border-radius (4px);
	@include box-shadow (0 6px 0 rgba(0, 39, 92, 0.88));
	display: inline-block;
	background-color: $blue;
	border: none;
	width: auto;
	margin: 16px auto;
	padding: 8px 16px;
	font-size: 0.8em;
	font-weight: $bold;
	color: $white;
	text-transform: uppercase;
	text-align: center;

	&:hover,
	&:active {
		@include box-shadow (0 2px 0 rgba(0, 39, 92, 0.24));
		margin-top: 20px;
	}
}

// FORM
form {
	display: block;
	width: 100%;
	margin: 1em 0;

	label {
		font-size: 0.8em;
		color: $blue;
	}

	input {
		@include border-radius (4px);
		background-color: $white;
		border: 1px solid $gray-dark;
		width: 100%;
		margin: 8px 0;
		padding: 8px 12px;
		font-size: $base-font-size;
		color: $theblack;

		&:hover,
		&:focus {
			border-color: $blue;
			border-bottom: 4px solid;
			color: $blue;
		}
	}

	button {
	}
}

// RESPONSIVE TABLE
table.rtable {
	background-color: $white;
	border: 1px solid $gray-border;
	border-collapse: collapse;
	width: 100%;
	margin: 1em 0;
	font-size: 14px;
	text-align: center;

	th {
		background-color: $gray;
		border: 1px solid $gray-border;
		padding: 8px;
		font-weight: $regular;
		color: $theblack;
	}

	tbody tr:nth-child(even) td {
		background-color: rgba(0, 0, 0, 0.04);
	}

	td {
		border: 1px solid $gray-border;
		padding: 8px;
	}
}

//MODAL
.modal-overlay {
	display: none;
}

#modal {
	display: none;
	position: fixed;
	z-index: 300;
	background-color: $white;
	width: 100%;
	height: 100%;

	.content {
		display: none;
		max-height: 100%;
		padding: 6em 24px 24px;
		overflow: scroll;

		p {
			margin-bottom: 0.8em;
			font-size: 0.9em;
		}

		a,
		a:visited {
			border-bottom: 2px solid $blue;
			color: $blue;
		}
	}

	.title {
		@include box-shadow (0 2px 4px rgba(0, 0, 0, 0.16));
		position: fixed;
		top: 0;
		left: 0;
		background-color: $white;
		border-bottom: 1px solid $gray;
		width: 100%;
		padding: 24px 24px 16px;

		h3 {
			margin: 0;
		}

		a,
		a:visited {
			@include border-radius (4px);
			display: inline-block;
			float: right;
			border: 1px solid $gray-blue;
			border-bottom: 1px solid $gray-blue;
			width: auto;
			margin-top: -4px;
			padding: 8px 16px;
			font-size: 12px;
			font-weight: $bold;
			color: $gray-blue;
			text-transform: uppercase;
			text-align: center;

			&:hover,
			&:active {
				background-color: $gray-blue;
				color: $white;
			}
		}
	}
}

// HEADER
#header {
	background-color: $blue;
	background: -webkit-linear-gradient(to top, $blue-lighter 8%, $blue-dark);
	background: linear-gradient(to top, $blue-lighter 8%, $blue-dark);

	.wrapper {
		@include flex;
		flex-flow: column wrap;
		align-items: center;
		height: auto;
		padding: 0 24px;
		text-align: center;
	}

	.logo--sdm {
		width: 96%;
		margin: -6em auto 0.4em;
	}

	.logo--sbt_games {
		order: 1;
		width: 16%;
		margin: 1em 0;
	}

	.logo--sdm,
	.stores,
	h1, h2 {
		order: 2;
	}

	h1 {
		color: $yellow;
	}

	h2 {
		color: $white;
	}
}

.stores {
	background-image: url('../img/devices.png');
	background-position: 40% 100%;
	background-repeat: no-repeat;
	background-size: contain;

	p {
		margin: 1em 0 12em;
		color: $white;
	}

	.mobile {
		height: 56px;
	}

	ul {
		.wrapper {
			@include flex;
			flex-flow: column wrap;
			align-items: center;
			margin: 1em;
		}

		li {
			a {
		        @include text-replacement;
		        display: block;
		        background-position: center;
		        background-repeat: no-repeat;
		        background-size: contain;
		        width: 182px;
		        height: 54px;
		        margin: 0.4em auto;

		        &.google {
		            background-image: url("../img/badges--google.png");
		        }

		        &.apple {
		            background-image: url("../img/badges--apple.png");
		        }
		    }
		}
	}
}

//DEVICES
.hidden--ios {
	.stores .apple {
		display: none;
	}
}

.hidden--android {
	.stores .google {
		display: none;
	}
}


//MAIN
#main {
	background-color: $gray;
	text-align: center;

	.wrapper {
		padding: 40px 24px 24px;
	}

	.subscribe {
		position: relative;
		z-index: 100;

		p {
			background: -webkit-linear-gradient(to top, rgba(220, 220, 220, 0.8) 24%, $gray);
			background: linear-gradient(to top, rgba(220, 220, 220, 0.8) 24%, $gray);

			span {
				display: block;
				margin-top: 0.2em;
				font-size: 1.6em;
				font-weight: $bold;
			}
		}
	}

	.silvinho {
		position: relative;
		z-index: 1;
		margin-top: -4em;
	}
}

.pro-label {
	@include border-radius (4px);
	display: inline-block;
	background-color: $orange;
	width: auto;
	margin-bottom: 1em;
	padding: 8px 20px;
	font-size: 1.2em;
	font-weight: $bold;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 2px;
}


// TABS
#tabs {
	background-color: $gray;
	padding: 0 24px 24px;
	text-align: center;
}

.tab-col {
	@include flex;
	flex-flow: row nowrap;
	justify-content: center;

	li {
		width: 50%;

		&:first-child {
			margin-right: 4px;
		}

		&:last-child {
			margin-left: 4px;
		}

		a,
		a:visited {
			@include border-radius (4px);
			display: block;
			border: 1px solid $gray-blue;
			width: 100%;
			padding: 8px;
			font-size: 0.8em;
			font-weight: $bold;
			color: $gray-blue;
			text-transform: uppercase;
			text-align: center;
		}

		a.show,
		a:hover,
		a:active {
			background-color: $gray-blue;
			color: $white;
		}
	}
}

.tab-row {
	@include flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 1em;

	li {
		width: 100%;
		margin: 0;
		text-align: center;
	}

	a,
	a:visited {
		display: block;
		border-bottom: 2px solid rgba(20, 30, 35, 0.08);
		width: 100%;
		padding: 16px 0;
		font-size: 0.8em;
		font-weight: $bold;
		color: $theblack;
		text-align: left;
	}
}

.pages-view {
	@include border-radius (4px);
	min-height: 160px;
	margin: 16px 0;
	color: $gray-dark;
	text-align: left;

	&.winners {
		display: none;

		table {
			.phone,
			.city,
			.date,
			.cupom {
				display: none;
			}
		}
	}

	.sorteio {
		h4 {
			margin-bottom: 0.8em;
		}

		p {
			margin-bottom: 0.8em;
			font-size: 0.8em;
		}
	}
}

.forget {
	display: block;
	margin-top: 16px;

	a {
	   color: $blue;
	   text-decoration: underline;

	   &:hover {
		   color: $theblack;
	   }
   }
}


// FOOTER
#footer {
	font-size: 0.8em;
	color: $gray;
	text-align: center;

	.wrapper {
		@include flex;
		padding: 24px;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
	}

	a {
		@include text-replacement;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 32px;
	}

	.sbt a {
		background-image: url('../img/logo--sbt.png');
	}

	.movile a {
		background-image: url('../img/logo--movile.png');
		height: 32px;
	}

	.sbt,
	.movile {
		order: 1;
		width: 50%;
	}

	.rights {
		order: 2;
		width: 100%;
		margin-top: 2em;
	}
}


// TABLETS
@media (min-width: 768px) {
	.modal-overlay {
		position: fixed;
		z-index: 300;
		width: 100%;
		background-color: rgba(0,0,0, 0.72);
		height: 100%;
	}

	#header {
		.wrapper {
			flex-flow: column wrap;
			justify-content: center;
		}

		.logo--sbt_games {
			width: 100%;
			text-align: right;

			img {
				max-width: 56px;
			}
		}

		.logo--sdm {
			img {
				max-width: 56%;
				margin-top: -6em;
			}
		}
	}

	.stores {
		background-position: 0% 100%;
		background-size: 64%;
		width: 100%;

		.mobile {
			display: none;
		}

		p {
			margin-bottom: 16%;
			padding-left: 64%;
		}

		ul {
			@include flex;
			flex-flow: wrap nowrap;
			justify-content: flex-end;
			margin: 1em auto;

			li a {
				margin-left: 1em;
			}
		}
	}

	.hidden--ios,
	.hidden--android {
		.stores p {
			margin-bottom: 16%;
		}

		.stores ul {
			padding-right: 4%;
		}
	}

	#main {
		.wrapper {
			@include flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}

		.silvinho {
			margin-top: -8em;
		}
	}

	#tabs {
		.wrapper {
			padding: 0 4% 24px;
		}
	}

	.tab-col {
		width: 320px;
		margin: auto;

		li:first-child {
			margin-right: 8px;
		}

		li:last-child {
			margin-left: 8px;
		}
	}

	.tab-row {
		flex-flow: row nowrap;
		justify-content: center;

		li {
			width: auto;
			margin: 0;
		}

		a,
		a:visited {
			width: auto;
			margin: 0 8px;
			padding: 12px 8px;
			font-size: 0.8em;
			text-align: center;
		}

		a:hover,
		a:active {
			border-color: $gray-dark;
			color: $gray-dark;
		}
	}

	.pages-view {
		&.cupons {
			width: 56%;
			margin: 16px auto;
		}

		&.winners table {
			.city,
			.date {
				display: table-cell;
			}
		}
	}

	#footer {
		.wrapper {
			padding: 0 24px 24px;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: baseline;

			> div {
				order: 0;
			}

			.sbt,
			.movile {
				width: 72px;
			}
		}
	}

	#modal .content {
		a,
		a:visited {
			border-bottom: 2px solid $gray-blue;
			color: $gray-blue;
		}

		a:hover,
		a:active {
			border-color: $blue;
			color: $blue;
		}

		.title a,
		.title a:visited {
			border-bottom: 1px solid $gray-blue;
			color: $gray-blue;

			&:hover,
			&:active {
				border: 1px solid $gray-blue;
				color: $white;
			}
		}
	}
}


// MEDIUM SCREENS
@media (min-width: 920px) {
	#modal {
		top: 50%;
		left: 50%;
		max-width: 72%;
		max-height: 72%;
		transform: translate(-50%, -50%);
	}

	.wrapper {
		width: 920px;
		margin: auto;
	}

	.stores ul {
		justify-content: center;

		li a {
			margin: 0.4em 0.8em;
		}
	}

	.stores p {
		margin-bottom: 12%;
		padding: 8% 0 0 64%;
		font-size: 2em;
	}

	.hidden--ios,
	.hidden--android {
		.stores ul {
			padding-right: 7%;
		}
	}

	#tabs {
		.wrapper {
			padding: 0 2% 24px;
		}
	}

	.pages-view {
		&.cupons {
			width: 40%;
		}

		&.winners table {
			.phone,
			.cupom {
				display: table-cell;
			}
		}
	}

	#main .subscribe {
		padding: 0 4em;
	}
}


// LARGE SCREENS
@media (min-width: 1440px) {
//	body {
//		font-size: calc(1em + 0.5vw);
//	}

	#modal {
		max-width: 48%;
		max-height: 64%;
	}
}

@import "_account";
