doctype html
html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title PlayKids Oi - Ajuda para iniciar os 3 meses grátis Oi Pós Pago

        // CSS
        link(rel='stylesheet', href='resources/css/main.css')

        // FAVICON
        link(rel='icon', type='image/x-icon', href='resources/images/favicon.ico')

    body
        #container
            section.brand
                .playkids
                    img(src='resources/images/logo-pk.png', alt='PlayKids')
                .oi
                    img(src='resources/images/logo-oi.png', alt='Oi Pós Pago')

            #help
                section.first
                    h1 Parabéns! Agora você tem uma conta PlayKids Premium.
                    h2 A Oi oferece à você&nbsp;
                        span 3 meses grátis
                        |  do PlayKids para curtir com toda sua família o app.

                nav
                    ul.help-nav
                        li.active 1
                        li 2
                        li 3
                        li 4
                        li 5

                .help-android
                    #cards
                        section.start
                            h3 Para começar, você precisa baixar e instalar o app.
                            .app
                                img(src='resources/images/logo-pk_app.png', alt='PlayKids')
                                h4 PlayKids
                                p Vídeos e jogos educativos para crianças e bebês aprenderem brincando
                                a(href='https://play.google.com/store/apps/details?id=com.movile.playkids', target='_blank').btn-default Baixar e instalar

                            .slide
                                a(href='#').next Se você já instalou, continue &#10230;

                        section.card-two
                            h3 Acesse sua conta
                            .screens
                                img(src='resources/images/android/2.png', alt='')
                            label Clique em "Já tenho conta"

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Próximo &#10230;

                        section.card-three
                            h3 Sua conta já foi criada
                            .screens
                                img(src='resources/images/android/3.png', alt='')
                            label Clique em "Telefone" e digite seu número

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Próximo &#10230;

                        section.card-four
                            h3 Você vai receber um SMS com o código de ativação
                            .screens
                                img(src='resources/images/android/4.png', alt='')
                            label Insira o PIN recebido e ative sua conta

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Finalizar &#10230;

                        section.card-five
                            h3 Pronto, seus 3 meses grátis estão válidos!
                            .screens
                                img(src='resources/images/congrats.png', alt='')
                            label Aproveite e curta com toda a família todo conteúdo do app PlayKids.


                            .slide
                                a(href='#').back &#10229; Voltar

                .help-ios
                    #cards
                        section.start
                            h3 Para começar, você precisa baixar e instalar o app.
                            .app
                                img(src='resources/images/logo-pk_app.png', alt='PlayKids')
                                h4 PlayKids
                                p Vídeos e jogos educativos para crianças e bebês aprenderem brincando
                                a(href='https://itunes.apple.com/br/app/playkids-videos-jogos-e-livros/id613398383?mt=8', target='_blank').btn-default Baixar e instalar

                            .slide
                                a(href='#').next Se você já instalou, continue &#10230;

                        section.card-two
                            h3 Acesse sua conta
                            .screens
                                img(src='resources/images/ios/2.png', alt='')
                            label Clique em "Já tenho conta"

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Próximo &#10230;

                        section.card-three
                            h3 Sua conta já foi criada
                            .screens
                                img(src='resources/images/ios/3.png', alt='')
                            label Clique em "Entrar com telefone" e digite seu número

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Próximo &#10230;

                        section.card-four
                            h3 Você vai receber um SMS com o código de ativação
                            .screens
                                img(src='resources/images/ios/4.png', alt='')
                            label Insira o PIN recebido e ative sua conta

                            .slide
                                a(href='#').back &#10229; Voltar
                                a(href='#').next Finalizar &#10230;

                        section.card-five
                            h3 Pronto, seus 3 meses grátis estão válidos!
                            .screens
                                img(src='resources/images/congrats.png', alt='')
                            label Aproveite e curta com toda a família todo conteúdo do app PlayKids.


                            .slide
                                a(href='#').back &#10229; Voltar

        section#support
            a(href='mailto:suporte@playkids.com') Precisa de ajuda?


        // jQuery & JS FILES
        script(src='resources/js/jquery-3.1.0.min.js')
        script(src='resources/js/functions.js')
