// main: ../main.scss

// Use them on <span> inside links or buttons

.has-icon {
	&.left {
		position: relative;
		padding-left: 18px;

		&:after {
			left: 0px;
		}
	}

	&.right {
		position: relative;
		padding-right: 18px;

		&:after {
			right: 0px;
		}
	}
}

.has-icon,
.purple-bg {
	&:after {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: calc(50% - 5px);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.purple-bg {
	&:after {
		top: calc(50% - 12px);
		left: calc(50% - 12px);
		width: 24px;
		height: 24px;
		background-image: url('../img/icons/check.png');
	}
}

.icon-search {
	&:after {
		background-image: url('../img/icons/search.png');
	}
}

.icon-plus {
	&:after {
		background-image: url('../img/icons/plus.png');
	}

	&-gray {
		&:after {
			background-image: url('../img/icons/plus-gray.png');
		}
	}
}

.icon-continue {
	&:after {
		background-image: url('../img/icons/arrow-right.png');
	}
}

.icon-back {
	&:after {
		background-image: url('../img/icons/arrow-left.png');
	}
}

.icon-close {
	&:after {
		background-image: url('../img/icons/close.png');
	}

	&-gray {
		&:after {
			background-image: url('../img/icons/close-gray.png');
		}
	}
}

.icon-check {
	&:after {
		background-image: url('../img/icons/check.png');
	}
}

.icon-edit {
	&:after {
		background-image: url('../img/icons/edit.png');
	}

	&-gray {
		&:after {
			background-image: url('../img/icons/edit-gray.png');
		}
	}

	&-black {
		&:after {
			background-image: url('../img/icons/edit-black.png');
		}
	}
}

.icon-settings {
	&:after {
		background-image: url('../img/icons/settings.png');
	}
}


// MATERIAL DE APOIO
.apoio_pdf {
	&:after {
		background-image: url('../img/icons/apoio_pdf.png');
	}
}

.apoio_xls {
	&:after {
		background-image: url('../img/icons/apoio_xls.png');
	}
}

.apoio_mp3 {
	&:after {
		background-image: url('../img/icons/apoio_mp3.png');
	}
}


.cards--details__apoio {
	ul li {
		.apoio_pdf {
			background-image: url('../img/icons/apoio_pdf.png');
		}

		.apoio_xls {
			background-image: url('../img/icons/apoio_xls.png');
		}

		.apoio_mp3 {
			background-image: url('../img/icons/apoio_mp3.png');
		}
	}

	ul li.checked {
		.apoio_pdf {
			background-image: url('../img/icons/apoio_pdf-check.png');
		}

		.apoio_xls {
			background-image: url('../img/icons/apoio_xls-check.png');
		}

		.apoio_mp3 {
			background-image: url('../img/icons/apoio_mp3-check.png');
		}
	}
}
