/* Rapiddo Prime
 * v2
 * @thiago.rocha */


// VARIABLES
$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// COLORS
$black: #4D4D4D;
$grey: #6C6D71;
$orange: #EA851C;
$green: #20B52B;


// MIXINS
@mixin transition ($time) {
	-webkit-transition: all ease-in-out $time;
	-ms-transition: all ease-in-out $time;
	-o-transition: all ease-in-out $time;
	transition: all ease-in-out $time;
}

@mixin flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin hidden-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin border-radius ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow ($specs) {
	-webkit-box-shadow: $specs;
	-moz-box-shadow: $specs;
	box-shadow: $specs;
}


// ALL SITE
* {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
}

body {
	background-color: #FFF;
	line-height: 1.2;
	font-family: $base-font;
	font-size: 14px;
	font-weight: regular;
	letter-spacing: 0.56px;
	color: $grey;
}

a, a:link {
	@include transition (0.4s);
	text-decoration: none;
}

h2, h3, h4 {
	font-weight: bold;
	color: $black;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.cta-button {
	@include border-radius (8px);
	@include box-shadow (0 2px 4px 0 rgba(55, 71, 79, 0.48));
	display: block;
	background-color: $green;
	width: 200px;
	margin: 16px auto;
	padding: 12px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;

	&:hover, &:active {
		background-color: $orange;
	}
}

.error {
	@include border-radius (8px);
	display: none;
	background-color: #F6BAC1;
	margin-bottom: 16px;
	padding: 16px;
}


// HEADER
header {
	@include box-shadow (0 2px 4px 0 rgba(55, 71, 79, 0.24));
	@include flex;
	flex-flow: row wrap;
	align-content: flex-end;
	background: linear-gradient(-90deg, #E65100 -40%, #FF9800);
	min-height: 160px;
	padding: 16px;

	.device {
		position: absolute;
		z-index: 50;
		top: 48px;
		right: 0;
		width: 48%;
		overflow: hidden;

		img {
			margin-left: 16px;
		}
	}

	h1 {
		@include hidden-text;
		position: absolute;
		top: 16px;
		background-image: url('../images/logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		width: calc(100% - 32px);
		height: 24px;
	}

	h2, p {
		width: 56%;
		margin-top: 8px;
		color: #FFF;
	}
}


// SECTIONS
section {
	padding: 24px 16px;

	&.benefits {
		h3, p {
			width: 56%;
		}
	}

	/* Products */
	&.products {
		margin-bottom: 40px;

		.cards {
		margin-bottom: 24px;

			img {
				@include border-radius (4px);
				margin: 8px 0 4px;
			}

			.details {
				@include flex;
				flex-flow: row nowrap;
				align-items: center;
			}
		}
	}
}

.brand {
	margin-right: 8px;
	
	img {
		@include border-radius (12px);
		width: 56px;
		height: 56px;
		margin-right: 12px;
	}
}


// FOOTER
footer {
	position: fixed;
	z-index: 100;
	bottom: 0;
	background: linear-gradient(0deg, white, rgba(255, 255, 255, 0));
	width: 100%;
}


// PREFERENCIAS
.preferencias {
	header {
		min-height: auto;

		h2, p {
			width: 100%;
		}

		h2 {
			margin-top: 40px;
		}
	}

	section.products {
		margin-bottom: 56px;
		padding: 16px;
	}
}


// FORM
form {
	[type='checkbox'] {
		display: none;

		&:checked + label {
			.inputs {
				background-repeat: no-repeat;
				background-size: contain;
				border: 2px solid $orange;

				h4 {
					font-weight: bold;
					color: $black;
				}
			}
		}
	}

	.inputs {
		@include flex;
		@include border-radius (4px);
		position: relative;
		align-items: center;
		border: 2px solid #ECEFF1;
		margin-bottom: 8px;
		cursor: pointer;

		h4 {
			font-weight: normal;
			color: $grey;
		}

		.brand {
			margin: 8px;

			img {
				width: 40px;
				height: 40px;
			}
		}
	}
}