// main: main.scss

// 768px
@media (min-width: 768px) {
    .wrap {
        max-width: calc(768px - 32px);
        padding: 40px 16px;
    }

    .entregas .wrap {
        padding: 16px 24px;
    }

    header {
        top: 80px;

        .logo {
            margin-left: 20px;
            transform: scale(1.4);
        }

        a.btn-default {
            top: 264px;
            left: 0;
            margin-left: 16px;
        }
    }

    .banners {
        .swiper-slide {
            position: relative;
            z-index: 1;
            @include flex;
            flex-flow: column wrap;
        }

        .swiper-banners {
            height: 400px;
            padding-top: 160px;

            h1, h2 {
    			width: 48%;
    			margin-bottom: 16px;
    		}
        }

        .swiper-button-prev,
    	.swiper-button-next {
    		top: 50%;
    		background-size: 25px 40px;
    		width: 25px;
    		height: 40px;
    	}

        .swiper-device {
            position: absolute;
            z-index: 90;
            top: 120px;
            right: 24px;
            background-image: url("../img/device_hand.png");
            background-size: contain;
            width: 400px;
            height: 400px;
        }
    }
}
